.logobar__container {
  position: fixed;
  width: 100%;
  height: var(--logobar-height);
  display: flex;
  left: 0;
  top: var(--infobar-height);
  background-color: #fff;
  z-index: 10;
}

.logobar__logo {
  width: 300px;
  height: 100px;
}

.logobar__name--container {
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
}

.logobar__heading--main {
  display: block;
  font-size: 32px;
  margin-top: 10px;
}

.logobar__heading--sub {
  display: block;
  margin-top: 15px;
}

.logobar__social--container {
  position: absolute;
  top: 20px;
  right: 3.2%;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}

.logobar__social--img {
  width: 30px;
  height: 30px;
  /* margin-left: 5%; */
}

.logobar__btn--careers {
  position: absolute;
  left: 60%;
  top: 20px;
  background-color: #FF0000;
  border: 1px solid #FF0000;
  color: #fff;
  height: 40px;
  padding: 0px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  }
  
  @keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}